[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-gzip;application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/zip;application/x-bzip;application/x-rar;application/x-tarz;application/x-bzip2;application/x-java-archive;application/x-deb;application/x-7z-compressed;application/x-compress;application/x-zip-compressed;application/x-lzma;application/x-servicepack;application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-cd-image;
Actions=filerollerExtractTo;filerollerExtractHere;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false

[Desktop Action filerollerExtractTo]
Name=Extraer Archivo a...
Icon=utilities-file-archiver
Exec=file-roller --extract


[Desktop Action filerollerExtractHere]
Name=Extraer Aquí
Icon=utilities-file-archiver
Exec=file-roller --extract-here


