[Desktop Entry]
Encoding=UTF-8
Name=Spread Sheet Document...
Name[ar]=مُستند ورقة حساب...
Name[bg]=Електронна таблица...
Name[br]=Teul al loger ...
Name[ca]=Document de full de càlcul...
Name[cs]=Tabulka
Name[cy]=Dogfen Daenlen...
Name[da]=Regnearkdokument...
Name[de]=LO-Calc Arbeitsmappe...
Name[el]=Έγγραφο λογιστικού φύλλου...
Name[es]=Documento de hoja de cálculo...
Name[et]=Arvutustabel...
Name[eu]=Kalkulu-orri dokumentua...
Name[fa]=سند صفحه گسترده...
Name[fi]=Taulukkolaskenta-asiakirja...
Name[fr]=Document Feuille de calcul...
Name[gl]=Documento de Folla de Cálculo...
Name[he]=מסמך גיליון אלקטרוני...
Name[hi]=स्प्रेडशीट दस्तावेज़...
Name[hr]=Dokument proračunske tablice...
Name[hu]=Calc-dokumentum...
Name[is]=Töflureiknisskjal...
Name[it]=Fogli di calcolo...
Name[ja]=表計算ドキュメント...
Name[km]=ឯកសារ​សៀវភៅ​បញ្ជី​...
Name[lv]=Tabullapas dokuments..
Name[ms]=Dokumen Hamparan...
Name[nb]=Regneark ...
Name[nds]=Tabellenutreken-Dokment...
Name[ne]=स्प्रेडसिट कागजात...
Name[nl]=Spreadsheetdocument...
Name[nn]=Rekneark ...
Name[pl]=Arkusz kalkulacyjny...
Name[pt]=Documento de Folha de Cálculo...
Name[pt_BR]=Planilha de Cálculo...
Name[ru]=Электронная таблица...
Name[se]=Rehkenastinárka …
Name[sk]=Dokument tabuľkového procesoru
Name[sl]=Preglednični dokument ...
Name[sr]=Документ са прорачунским листовима...
Name[sr@Latn]=Dokument sa proračunskim listovima...
Name[sv]=Kalkylark...
Name[ta]=விரிதாள் ஆவணம்...
Name[tg]= Ҳуҷҷати Spread Sheet...
Name[tr]=Hesap Tablosu Belgesi...
Name[uk]=Документ електронної таблиці...
Name[uz]=Электрон жадвал
Name[wa]=Documint tåvleu...
Name[zh_CN]=电子表格文档...
Name[zh_TW]=工作表文件...
Comment=New Calc document (.ods):
Comment[af]=Nuwe Calc dokument (.ods):
Comment[ar]=مُستند Calc جديد (.ods):
Comment[bg]=Нова таблица на Calc (.ods):
Comment[br]=Teul Calc nevez (.ods):
Comment[bs]=Novi Calc dokument (.ods):
Comment[ca]=Nou document Calc (.ods)
Comment[cs]=Nový dokument aplikace Calc (.ods):
Comment[cy]=Dogfen newydd Calc (.ods):
Comment[da]=Nyt Calc-regneark (.ods):
Comment[de]=Neues Calc-Dokument (.ods):
Comment[el]=Νέο έγγραφο Calc (.ods):
Comment[eo]=Nova-Tabelkalkulilo-dokumento (.ods)
Comment[es]=Nuevo documento de Calc (.ods):
Comment[et]=Uus Calci dokument (.ods):
Comment[eu]=Calc dokumentu berria (.ods):
Comment[fa]=سند جدید Calc (.ods):
Comment[fi]=Uusi Calc-asiakirja (.ods):
Comment[fr]=Nouveau document Calc (.ods):
Comment[ga]=Cáipéis nua Calc (.ods):
Comment[gl]=Novo documento de Calc (.ods):
Comment[he]=מסמך חדש של Calc (.ods)
Comment[hi]=नया के-स्प्रेड दस्तावेज़:
Comment[hr]=Novi Calc dokument (.ods):
Comment[hu]=Új Calc-dokumentum (.ods):
Comment[is]=Nýtt Calc skjal (.ods):
Comment[it]=Nuovo documento Calc (.ods):
Comment[ja]=新規 Calc ドキュメント (.ods):
Comment[km]=ឯកសារ​ Calc ថ្មី ៖
Comment[lo]=ສ້າງເອກະສານເຈ້ຍຄິດໄລ່ K ໃຫມ່
Comment[lv]=Jauns Calc dokuments (.ods):
Comment[ms]=Dokumen Calc Baru (.ods):
Comment[nb]=Nytt Calc-dokument (.ods):
Comment[nds]=Nieg Calc-Dokment (.ods):
Comment[ne]=नयाँ केडीई स्प्रिड कागजात:
Comment[nl]=Nieuw Calc-document (.ods):
Comment[nn]=Nytt Calc-dokument (.ods):
Comment[pl]=Nowy arkusz Calc (.ods):
Comment[pt]=Novo documento do Calc (.ods):
Comment[pt_BR]=Novo documento do Calc (.ods):
Comment[ru]=Новая электронная таблица Calc (.ods):
Comment[se]=Ođđa Calc-dokumeanta (.ods):
Comment[sk]=Nový dokument Calc (.ods):
Comment[sl]=Nov dokument za Calc (.ods)
Comment[sr]=Нови Calc-ов документ (.ods):
Comment[sr@Latn]=Novi Calc-ov dokument (.ods):
Comment[sv]=Nytt Calc-dokument (.ods)
Comment[ta]=புதிய Kவரி ஆவணம்
Comment[tg]=Ҳуҷҷати Нав Calc (.ods):
Comment[tr]=Yeni Calc belgesi (.ods)
Comment[uk]=Новий документ Calc (.ods):
Comment[uz]=Янги Calc ҳужжати (.ods):
Comment[wa]=Novea documint tåvleu Calc (.ods):
Comment[xh]=Uxwebhu Olutsha lwe Calc (.ods):
Comment[zh_CN]=新建 Calc 文档 (.ods)：
Comment[zh_TW]=新建 Calc 文件 (.ods):
Type=Link
URL=.source/TabellenDokument.ods
Icon=libreoffice-calc
