[Desktop Entry]
Encoding=UTF-8
Name=Illustration Document...
Name[bg]=Илюстрация...
Name[ca]=Document de dibuixos...
Name[cs]=Ilustrace
Name[cy]=Dogfen Ddarluniad...
Name[da]=Illustrationsdokument...
Name[de]=LO-Draw Dokument ...
Name[el]=Έγγραφο σελιδοποίησης...
Name[es]=Documento de ilustración...
Name[et]=Illustratsioon...
Name[eu]=Irudi-dokumentua...
Name[fa]=سند شکل...
Name[fi]=Illustrator-asiakirja
Name[fr]=Document d'illustration...
Name[gl]=Documento de Ilustración...
Name[he]=מסמך איור...
Name[hi]=इलस्ट्रेशन दस्तावेज़...
Name[hr]=Ilustracijski dokument...
Name[hu]=Illustrator-dokumentum...
Name[is]=Illustration skjal...
Name[it]=Illustrazioni...
Name[ja]=Illustration ドキュメント...
Name[km]=ឯកសារ​រូបភាព​លម្អ...
Name[lv]=Ilustrācijas dokuments...
Name[ms]=Dokumen Ilustrasi...
Name[nb]=Illustrasjon ...
Name[nds]=Afbillen-Dokment...
Name[ne]=दृष्टान्त कागजात...
Name[nl]=Illustratiedocument...
Name[nn]=Illustrasjon ...
Name[pl]=Ilustracja...
Name[pt]=Documento de Ilustração....
Name[pt_BR]=Documento de Ilustração...
Name[ru]=Векторный рисунок...
Name[se]=Illustrašuvdna …
Name[sk]=Ilustrácia Draw...
Name[sl]=Ilustracijski dokument ...
Name[sr]=Илустрациони документ...
Name[sr@Latn]=Ilustracioni dokument...
Name[sv]=Illustrationsdokument...
Name[ta]=விளக்க ஆவணம்
Name[tg]=Ҳуҷҷати тасвирӣ...
Name[tr]=Resim Belgesi...
Name[uk]=Докувент ілюстрації...
Name[wa]=Documint Illustration...
Name[zh_CN]=Illustrator 文档...
Name[zh_TW]=Illustration 文件...
Comment=New Draw document (.odg):
Comment[ar]=مُستند Draw جديد:
Comment[bg]=Нов документ на Draw (.odg):
Comment[br]=Teul Draw nevez (.odg):
Comment[ca]=Nou document Draw (.odg)
Comment[cs]=Nový dokument Draw (.odg):
Comment[cy]=Dogfen newydd Draw (.odg):
Comment[da]=Nyt Draw-dokument (.odg):
Comment[de]=Neues Draw-Dokument (.odg):
Comment[el]=Νέο έγγραφο Draw (.odg):
Comment[es]=Nuevo documento de Draw (.odg):
Comment[et]=Uus Draw dokument (.odg):
Comment[eu]=Draw dokumentu berria (.odg):
Comment[fa]=سند Draw جدید:
Comment[fi]=Uusi Draw-asiakirja (.odg):
Comment[fr]=Nouveau document Draw (.odg):
Comment[ga]=Cáipéis nua Draw (.odg):
Comment[gl]=Novo documento de Draw (.odg):
Comment[he]=מסמך Draw חדש (.odg)
Comment[hi]=नया कार्बन14 दस्तावेज:
Comment[hr]=Novi Draw dokument (.odg):
Comment[hu]=Új Draw-dokumentum (.odg):
Comment[is]=Nýtt Draw skjal (.odg):
Comment[it]=Nuovo documento Draw (.odg):
Comment[ja]=Draw ドキュメント (.odg)
Comment[km]=ឯកសារ Draw ថ្មី ៖
Comment[lv]=Jauns Draw dokuments (.odg):
Comment[ms]=Dokumen Draw 14 Baru (.odg):
Comment[nb]=Nytt Draw-dokument (.odg):
Comment[nds]=Nieg Draw-Dokment (.odg):
Comment[ne]=नयाँ कार्बन१४ कागजात:
Comment[nl]=Nieuw Draw-document (.odg):
Comment[nn]=Nytt Draw-dokument (.odg):
Comment[pl]=Nowy dokument Draw (.odg):
Comment[pt]=Novo documento do Draw (.odg):
Comment[pt_BR]=Novo documento do Draw (.odg):
Comment[ru]=Новый рисунок Draw (.odg):
Comment[se]=Ođđa Draw-dokumeanta (.odg):
Comment[sk]=Nový dokument Draw (.odg):
Comment[sl]=Nov dokument za Draw (.odg):
Comment[sr]=Нови Draw документ (.odg):
Comment[sr@Latn]=Novi Draw dokument (.odg):
Comment[sv]=Nytt Draw-dokument (.odg):
Comment[ta]=புதிய Draw ஆவணம்
Comment[tg]=Ҳуҷҷати Нав Draw (.odg):
Comment[tr]=Yeni Draw Belgesi (.odg):
Comment[uk]=Новий документ Draw (.odg):
Comment[uz]=Янги Draw ҳужжати (.odg):
Comment[wa]=Novea documint Draw (.odg):
Comment[zh_CN]=新建 Draw 文档 (.odg)：
Comment[zh_TW]=新增 Draw 文件 (.odg):
Type=Link
URL=.source/Zeichnung.odg
Icon=libreoffice-draw
