#!/usr/bin/make -f
# debian/rules for VNote

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

override_dh_clean:
	dh_clean -d

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_install:
	mkdir -p debian/$(PACKAGE)/usr/bin
	mkdir -p debian/$(PACKAGE)/usr/lib
	mkdir -p debian/$(PACKAGE)/usr/share/icons/hicolor/16x16/apps
	mkdir -p debian/$(PACKAGE)/usr/share/icons/hicolor/32x32/apps
	mkdir -p debian/$(PACKAGE)/usr/share/icons/hicolor/48x48/apps
	mkdir -p debian/$(PACKAGE)/usr/share/icons/hicolor/64x64/apps
	mkdir -p debian/$(PACKAGE)/usr/share/icons/hicolor/128x128/apps
	mkdir -p debian/$(PACKAGE)/usr/share/icons/hicolor/256x256/apps
	mkdir -p debian/$(PACKAGE)/usr/share/icons/hicolor/scalable/apps
	mkdir -p debian/$(PACKAGE)/usr/share/applications

	# Copiamos los binarios y librerías
	install -m 755 build/src/vnote debian/$(PACKAGE)/usr/bin/vnote
	install -m 755 build/src/vnote_extra.rcc debian/$(PACKAGE)/usr/bin/vnote_extra.rcc

	install -m 755 build/libs/vtextedit/src/editor/libVTextEdit.so.1.0.0 debian/$(PACKAGE)/usr/lib/libVTextEdit.so.1.0.0
	ln -sf libVTextEdit.so.1.0.0 debian/$(PACKAGE)/usr/lib/libVTextEdit.so
	ln -sf libVTextEdit.so.1.0.0 debian/$(PACKAGE)/usr/lib/libVTextEdit.so.1
	ln -sf libVTextEdit.so.1.0.0 debian/$(PACKAGE)/usr/lib/libVTextEdit.so.1.0

	install -m 755 build/libs/vtextedit/src/libs/syntax-highlighting/libVSyntaxHighlighting.so.1.0.0 debian/$(PACKAGE)/usr/lib/libVSyntaxHighlighting.so.1.0.0
	ln -sf libVSyntaxHighlighting.so.1.0.0 debian/$(PACKAGE)/usr/lib/libVSyntaxHighlighting.so
	ln -sf libVSyntaxHighlighting.so.1.0.0 debian/$(PACKAGE)/usr/lib/libVSyntaxHighlighting.so.1
	ln -sf libVSyntaxHighlighting.so.1.0.0 debian/$(PACKAGE)/usr/lib/libVSyntaxHighlighting.so.1.0

	# Copiamos los iconos
	install -m 644 src/data/core/logo/16x16/vnote.png debian/$(PACKAGE)/usr/share/icons/hicolor/16x16/apps/vnote.png
	install -m 644 src/data/core/logo/32x32/vnote.png debian/$(PACKAGE)/usr/share/icons/hicolor/32x32/apps/vnote.png
	install -m 644 src/data/core/logo/48x48/vnote.png debian/$(PACKAGE)/usr/share/icons/hicolor/48x48/apps/vnote.png
	install -m 644 src/data/core/logo/64x64/vnote.png debian/$(PACKAGE)/usr/share/icons/hicolor/64x64/apps/vnote.png
	install -m 644 src/data/core/logo/128x128/vnote.png debian/$(PACKAGE)/usr/share/icons/hicolor/128x128/apps/vnote.png
	install -m 644 src/data/core/logo/256x256/vnote.png debian/$(PACKAGE)/usr/share/icons/hicolor/256x256/apps/vnote.png
	install -m 644 src/data/core/logo/vnote.svg debian/$(PACKAGE)/usr/share/icons/hicolor/scalable/apps/vnote.svg

	# Copiamos el archivo .desktop
	install -m 644 src/data/core/vnote.desktop debian/$(PACKAGE)/usr/share/applications/vnote.desktop

override_dh_shlibdeps:
	-dh_shlibdeps
