[Desktop Entry]
Encoding=UTF-8
Name=Presentation Document...
Name[bg]=Презентация...
Name[br]=Teul emginnig ...
Name[ca]=Document de presentacions...
Name[cs]=Prezentace
Name[cy]=Dogfen Gyflwyniad...
Name[da]=Præsentationsdokument...
Name[de]=LO-Präsentation...
Name[el]=Έγγραφο παρουσίασης...
Name[es]=Documento de presentación...
Name[et]=Esitlus...
Name[eu]=Aurkezpen-dokumentua...
Name[fa]=سند ارائه...
Name[fi]=Esitysasiakirja...
Name[fr]=Document de présentation...
Name[gl]=Documento de presentación...
Name[he]=מסמך מצגת...
Name[hi]=प्रेजेन्टेशन दस्तावेज़...
Name[hr]=Prezentacijski dokument...
Name[hu]=Presenter-dokumentum...
Name[is]=Kynningarskjal...
Name[it]=Presentazioni...
Name[ja]=プレゼンテーションドキュメント...
Name[km]=ឯកសារ​ការ​បង្ហាញ...
Name[lv]=Prezentācijas dokuments...
Name[ms]=Dokumen Persembahan...
Name[nb]=Presentasjon ...
Name[nds]=Presentatschoon-Dokment...
Name[ne]=प्रस्तुतिकरण कागजात...
Name[nl]=Presentatie-document...
Name[nn]=Presentasjon ...
Name[pl]=Prezentacja...
Name[pt]=Documento de Apresentação...
Name[pt_BR]=Apresentação de Slides...
Name[ru]=Презентация...
Name[se]=Presentašuvdna …
Name[sk]=Prezentácia ...
Name[sl]=Predstavitveni dokument ...
Name[sr]=Презентациони документ...
Name[sr@Latn]=Prezentacioni dokument...
Name[sv]=Presentationsdokument...
Name[ta]=முன் வைப்பு ஆவணம்
Name[tg]=Ҳуҷҷати тақдим...
Name[tr]=Sunum Belgesi...
Name[uk]=Документ презентації...
Name[uz]=Намойиш ҳужжати
Name[wa]=Documint di prezintaedje...
Name[zh_CN]=演示文稿...
Name[zh_TW]=簡報文件...
Comment=New LibreOffice presentation document (.odp):
Comment[af]=Nuwe LibreOffice aanbieding dokument (.odp):
Comment[ar]=مُستند تقديم جديد لـ LibreOffice (.odp):
Comment[bg]=Нова презентация на LibreOffice (.odp):
Comment[br]=Teul emginnig LibreOffice nevez (.odp):
Comment[bs]=Novi LibreOffice prezentacioni dokument (.odp):
Comment[ca]=Nova presentació LibreOffice (.odp):
Comment[cs]=Nový dokument aplikace LibreOffice (.odp):
Comment[cy]=Dogfen cyflwyniad newydd LibreOffice (.odp):
Comment[da]=Nyt LibreOffice-præsentationsdokument (.odp):
Comment[de]=Neue LibreOffice-Präsentation (.odp):
Comment[el]=Νέο έγγραφο παρουσίασης LibreOffice (.odp):
Comment[eo]=Nova prezentilo-dokumento (.odp):
Comment[es]=Nuevo documento de presentación de LibreOffice (.odp):
Comment[et]=Uus LibreOfficei esitlus (.odp):
Comment[eu]=LibreOffice-en aurkezpen-dokumentu berria (.odp):
Comment[fa]=سند جدید ارائۀ LibreOffice (.odp):
Comment[fi]=Uusi LibreOffice-asiakirja (.odp):
Comment[fr]=Nouveau document de présentation LibreOffice (.odp):
Comment[gl]=Novo documento de LibreOffice (.odp):
Comment[he]=מסמך מצגת חדש של LibreOffice (.odp):
Comment[hi]=नया के-प्रेजेन्टर दस्तावेज़:
Comment[hr]=Novi LibreOffice prezentacijski dokument (.odp):
Comment[hu]=Új LibreOffice-bemutató (.odp):
Comment[is]=Nýtt LibreOffice kynningarskjal (.odp):
Comment[it]=Nuovo documento di presentazione LibreOffice (.odp):
Comment[ja]=新規 LibreOffice プレゼンテーションドキュメント:
Comment[km]=ឯកសារ​ការ​បង្ហាញ​របស់ LibreOffice ថ្មី ៖
Comment[lo]=ສ້າງເກະສານການນໍາສະເຫນີໃຫມ່
Comment[lv]=Jauna LibreOffice prezentācija (.odp):
Comment[ms]=Dokumen persembahan LibreOffice Baru (.odp):
Comment[nb]=Ny LibreOffice-presentasjon (.odp):
Comment[nds]=Nieg Presentatschoon-Dokment för LibreOffice (.odp):
Comment[ne]=नयाँ केडीई प्रस्तुतकर्ता प्रस्तुतिकरण कागजात:
Comment[nl]=Nieuw LibreOffice-presentatiedocument (.odp):
Comment[nn]=Ny LibreOffice-presentasjon (.odp):
Comment[pl]=Nowa prezentacja LibreOffice (.odp):
Comment[pt]=Novo documento do LibreOffice (.odp):
Comment[pt_BR]=Novo documento do LibreOffice (.odp):
Comment[ru]=Новая презентация LibreOffice (.odp):
Comment[se]=Ođđa LibreOffice-presentašuvdna (.odp):
Comment[sk]=Nový dokument LibreOffice (.odp):
Comment[sl]=Nov predstavitveni dokument za LibreOffice (.odp):
Comment[sr]=Нови LibreOffice-ов презентациони долумент (.odp):
Comment[sr@Latn]=Novi LibreOffice-ov prezentacioni dolument (.odp):
Comment[sv]=Ny LibreOffice-presentation (.odp):
Comment[ta]=புதிய Kவழங்கிய வழங்கு ஆவணம்.
Comment[tg]=Ҳуҷҷати тақдими нав LibreOffice (.odp):
Comment[tr]=Yeni LibreOffice sunum belgesi (.odp):
Comment[uk]=Новий документ презентації LibreOffice (.odp):
Comment[uz]=Янги LibreOffice ҳужжати (.odp):
Comment[wa]=Novea documint di prezintaedje LibreOffice (.odp):
Comment[xh]=Uxwebhu lwe siboniso esitsha se LibreOffice (.odp):
Comment[zh_CN]=新建 LibreOffice 演示文档 (.odp)：
Comment[zh_TW]=新建 LibreOffice 簡報文件 (.odp):
Type=Link
URL=.source/Praesentation.odp
Icon=libreoffice-impress
