[Desktop Entry]
Encoding=UTF-8
Name=Text Document...
Name[bg]=Текстов документ...
Name[br]=Teul skrid ...
Name[ca]=Document de text...
Name[cs]=Textový dokument
Name[cy]=Dogfen Destun...
Name[da]=Tekstdokument...
Name[de]=LO-Writer Dokument...
Name[el]=Έγγραφο κειμένου...
Name[es]=Documento de texto...
Name[et]=Tekstidokument...
Name[eu]=Testu-dokumentua...
Name[fa]=سند متنی...
Name[fi]=Tekstiasiakirja...
Name[fr]=Document texte...
Name[ga]=Cáipéis Téacs...
Name[gl]=Documento de Texto...
Name[he]=מסמך טקסט...
Name[hi]=पाठ दस्तावेज़...
Name[hr]=Tekstualni dokument...
Name[hu]=Writer-dokumentum...
Name[is]=Textaskjal...
Name[it]=Documenti di testo...
Name[ja]=テキスト文書...
Name[km]=ឯកសារ​អត្ថបទ​...
Name[lv]=Teksta dokuments...
Name[ms]=Dokumen Teks...
Name[nb]=Tekstdokument ...
Name[nds]=Textdokment...
Name[ne]=पाठ कागजात...
Name[nl]=Tekstdocument...
Name[nn]=Tekstdokument ...
Name[pa]=ਪਾਠ ਦਸਤਾਵੇਜ਼...
Name[pl]=Dokument tekstowy...
Name[pt]=Documento de Texto...
Name[pt_BR]=Documento de Texto...
Name[ru]=Текстовый документ...
Name[se]=Teakstadokumeanta …
Name[sk]=Textový dokument Writer...
Name[sl]=Besedilni dokument ...
Name[sr]=Текстуални документ...
Name[sr@Latn]=Tekstualni dokument...
Name[sv]=Textdokument...
Name[ta]=உரை ஆவணம்...
Name[tg]=Матни Ҳуҷҷат...
Name[tr]=Metin Belgesi...
Name[uk]=Текстовий документ...
Name[uz]=Матн ҳужжати
Name[wa]=Documint tecse...
Name[zh_CN]=文本文档...
Name[zh_TW]=文字文件...
Comment=New Writer document (.odt):
Comment[af]=Nuwe Writer dokument (.odt):
Comment[ar]=مُستند Writer جديد (.odt):
Comment[bg]=Нов документ на Writer (.odt):
Comment[br]=Teul Writer nevez (.odt):
Comment[bs]=Novi Writer dokument (.odt):
Comment[ca]=Nou document Writer (.odt):
Comment[cs]=Nový dokument aplikace Writer (.odt):
Comment[cy]=Dogfen newydd Writer (.odt):
Comment[da]=Nyt Writer-dokument (.odt):
Comment[de]=Neues Writer-Dokument (.odt):
Comment[el]=Νέο έγγραφο Writer (.odt):
Comment[eo]=Nova Verkilo-dokumento (.odt):
Comment[es]=Nuevo documento de Writer (.odt):
Comment[et]=Uus Writeri dokument (.odt):
Comment[eu]=Writer dokumentu berria (.odt):
Comment[fa]=سند جدید Writer (.odt):
Comment[fi]=Uusi Writer-asiakirja (.odt):
Comment[fr]=Nouveau document Writer (.odt):
Comment[ga]=Cáipéis nua Writer (.odt):
Comment[gl]=Novo documento de Writer (.odt):
Comment[he]=מסמך חדש של Writer (.odt):
Comment[hi]=नया के-वर्ड दस्तावेज़:
Comment[hr]=Novi Writer dokument (.odt):
Comment[hu]=Új Writer-dokumentum (.odt):
Comment[is]=Nýtt Writer skjal (.odt):
Comment[it]=Nuovo documento Writer (.odt):
Comment[ja]=新規 Writer ドキュメント:
Comment[km]=ឯកសារ​ Writer  ថ្មី​ ៖
Comment[lo]=ສ້າງເອກະສານຂໍ້ຄວາມ K ໃຫມ່
Comment[lv]=Jauns Writer dokuments (.odt):
Comment[ms]=Dokumen Writer baru (.odt):
Comment[nb]=Nytt Writer-dokument (.odt):
Comment[nds]=Nieg Writer-Dokment (.odt):
Comment[ne]=नयाँ केडीई शब्द कागजात (.odt):
Comment[nl]=Nieuw Writer-document (.odt):
Comment[nn]=Nytt Writer-dokument (.odt):
Comment[pl]=Nowy dokument Writer (.odt):
Comment[pt]=Novo documento do Writer (.odt):
Comment[pt_BR]=Novo documento do Writer (.odt):
Comment[ru]=Новый документ Writer (.odt):
Comment[se]=Oddá Writer-dokumeanta (.odt):
Comment[sk]=Nový dokument Writer (.odt):
Comment[sl]=Nov dokument za Writer (.odt)
Comment[sr]=Нови Writer-ов документ (.odt):
Comment[sr@Latn]=Novi Writer-ov dokument (.odt):
Comment[sv]=Nytt Writer-dokument (.odt):
Comment[ta]=புதிய Writer  ஆவணம்
Comment[tg]=Ҳуҷҷати Нав Writer (.odt):
Comment[tr]=Yeni Writer belgesi (.odt):
Comment[uk]=Новий документ Writer (.odt):
Comment[uz]=Янги Writer ҳужжати (.odt):
Comment[wa]=Novea documint Writer (.odt):
Comment[xh]=Uxwebhu Olutsha lwe Writer (.odt):
Comment[zh_CN]=新建 Writer 文档 (.odt)：
Comment[zh_TW]=新建 Writer 文件 (.odt);
Type=Link
URL=.source/TextDokument.odt
Icon=libreoffice-writer
