[Desktop Entry]
Actions=07PPTX;
Icon=application-vnd.oasis.opendocument.presentation
MimeType=application/vnd.oasis.opendocument.presentation;application/vnd.ms-powerpoint;
Name[fr]=Service-Menu PPTX convert
Name=convert PPTX service menu
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Submenu[fr]=Convertir en
X-KDE-Submenu=Convert to
X-KDE-Submenu[es]=Convertir a
X-KDE-Submenu[it]=Converti in
X-KDE-Submenu[ru]=&Преобразовать в

[Desktop Action 07PPTX]
Exec=officeconverter_servicemenu -la en convert_pptx %F
Exec[fr]=officeconverter_servicemenu -la fr convert_pptx %F
Icon=application-vnd.oasis.opendocument.presentation
Name=pptx
Name[fr]=pptx


# #docs
# application/vnd.oasis.opendocument.text;application/msword;application/vnd.ms-word;application/vnd.openxmlformats-officedocument.wordprocessingml.document;
# 
# #sheets
# application/vnd.oasis.opendocument.spreadsheet;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;
# 
# #presentations
# application/vnd.oasis.opendocument.presentation;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;

