[Desktop Entry]
Actions=02ODT;
Icon=application-vnd.oasis.opendocument.text
MimeType=text/plain;text/html;application/msword;application/vnd.ms-word;application/vnd.openxmlformats-officedocument.wordprocessingml.document;
Name=convert to ODT service menu
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Submenu=Convert to
X-KDE-Submenu[fr]=Convertir en
X-KDE-Submenu[es]=Convertir a
X-KDE-Submenu[it]=Converti in
X-KDE-Submenu[ru]=&Преобразовать в

[Desktop Action 02ODT]
Exec=officeconverter_servicemenu -la en convert_odt %F
Exec[fr]=officeconverter_servicemenu -la fr convert_odt %F
Icon=application-vnd.oasis.opendocument.text
Name=ODT
Name[fr]=ODT
