[Desktop Entry]
Actions=08Text;
Icon=text-plain
MimeType=text/html;application/vnd.oasis.opendocument.text;application/msword;application/vnd.ms-word;application/vnd.openxmlformats-officedocument.wordprocessingml.document;
Name=convert Text service menu
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Submenu[fr]=Convertir en
X-KDE-Submenu=Convert to
X-KDE-Submenu[es]=Convertir a
X-KDE-Submenu[it]=Converti in
X-KDE-Submenu[ru]=&Преобразовать в

[Desktop Action 08Text]
Exec=officeconverter_servicemenu -la en convert_txt %F
Exec[fr]=officeconverter_servicemenu -la fr convert_txt %F
Icon=text-plain
Name=Text
Name[fr]=Texte


# #docs
# application/vnd.oasis.opendocument.text;application/msword;application/vnd.ms-word;application/vnd.openxmlformats-officedocument.wordprocessingml.document;
# 
# #sheets
# application/vnd.oasis.opendocument.spreadsheet;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;
# 
# #presentations
# application/vnd.oasis.opendocument.presentation;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;

