[Desktop Entry]
Actions=09CSV;
Icon=text-csv
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;
Name[fr]=Service-Menu CSV convert
Name=convert CSV service menu
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Submenu[fr]=Convertir en
X-KDE-Submenu=Convert to
X-KDE-Submenu[es]=Convertir a
X-KDE-Submenu[it]=Converti in
X-KDE-Submenu[ru]=&Преобразовать в

[Desktop Action 09CSV]
Exec=officeconverter_servicemenu -la en convert_csv %F
Exec[fr]=officeconverter_servicemenu -la fr convert_csv %F
Icon=text-csv
Name=CSV
Name[fr]=CSV


# #docs
# application/vnd.oasis.opendocument.text;application/msword;application/vnd.ms-word;application/vnd.openxmlformats-officedocument.wordprocessingml.document;
# 
# #sheets
# application/vnd.oasis.opendocument.spreadsheet;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;
# 
# #presentations
# application/vnd.oasis.opendocument.presentation;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;

