[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=compressHere;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action compressHere]
Name=Comprimir...
Icon=utilities-file-archiver
Exec=file-roller %U --add
