# config file for Service Menu Manager
# http://www.kde-apps.org/content/show.php/Service+Menu+Manager?content=94996

[General]
name=encFS service menu
description=A service menus for encFS directory. Required encfs package.
author=Giuseppe Benigno
author_email=giuseppe.benigno@gmail.com
homepage=http://www.egregorion.net
version=0.7.0
licence=GPL
