Package: vnote-dbgsym
Source: vnote
Version: 3.17.0
Auto-Built-Package: debug-symbols
Architecture: i386
Maintainer: Washington Indacochea Delgado <wachin.id@gmail.com>
Installed-Size: 1656
Depends: vnote (= 3.17.0)
Section: debug
Priority: optional
Description: debug symbols for vnote
Build-Ids: 19ae2e0f362c8c9a1d325eace0c71f3ebff951ae 63a7b0e534b4d4c2a3541f1149779aa152e1f5c2 6bde0b31baafa708ff92cee5a76996ee5741484a
